.app-btn {
  padding: 8px 10px;
  background: rgba(221, 221, 221, 0.384);
  color: aquamarine;
  margin: 8px 3px;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
}

.radius {
  border-radius: 5px;
}
.outline{
  border: 2px solid white;
}