.flex{
  display: flex;
}
.space-around{
  justify-content: space-around;
}
.space-between{
  justify-content: space-between;
}
.box{
  background: rgb(231, 231, 231);
  border-radius: 7px;
  box-shadow: 0 0 10px 0px rgb(241, 241, 241);
  padding: 20px 30px;
}