.modal{
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.5);
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}