$navbar_height: 70px;
$navbar_bg: #303036;
$navbar_color_link_hover: #30BCED;
$navbar_color_link: #FFFAFF;
$navbar_line_color: #30BCED;

$tab_navigation_background: #FC5130;

$auth_box_background: #FFFAFF;
$auth_box_shadow_color: #303036;