@import 'reset';
// @import 'variables';
// @import 'navbar';
// @import 'buttons';
// @import 'common';
// @import 'modal';
// @import 'tab';
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";